.vscode/
.vs/
*.suo
*.user
*.sln.docstates
*_i.c
_ReSharper*/
[Tt]humbs.db
*.dbmdl
[Tt]est[Rr]esult*/

.idea/
*.sln.iml

/pswmanager-frontend/node_modules/
/pswmanager-frontend/dist/
/pswmanager-frontend/e2e/node_modules/
/pswmanager-frontend/e2e/dist/
/pswmanager-frontend/.angular-cli.json
/pswmanager-frontend/.eslintrc.js
/pswmanager-frontend/karma.conf.js
/pswmanager-frontend/tsconfig.json
/pswmanager-frontend/tsconfig.app.json
/pswmanager-frontend/tsconfig.spec.json
/pswmanager-frontend/tslint.json

/pswmanager-backend/bin/
/pswmanager-backend/obj/
/pswmanager-backend/pswmanager-backend.csproj.user
/pswmanager-backend/pswmanager-backend.csproj.nuget.g.props
/pswmanager-backend/pswmanager-backend.csproj.nuget.g.targets
/pswmanager-backend/pswmanager-backend/Properties/launchSettings.json

/pswmanager-backend/appsettings.Development.json
/pswmanager-backend/appsettings.Production.json
/pswmanager-frontend/src/environments/environment.ts
/pswmanager-frontend/src/environments/environment.prod.ts