.vscode/
.vs/
*.suo
*.user
*.sln.docstates
*_i.c
_ReSharper*/
[Tt]humbs.db
*.dbmdl
[Tt]est[Rr]esult*/

.idea/
*.sln.iml

/pswmanager-frontend/node_modules/
/pswmanager-frontend/dist/
/pswmanager-frontend/e2e/node_modules/
/pswmanager-frontend/e2e/dist/