.password-generator {
  text-align: center;
  padding: 20px;
}

.password-generator h2 {
  color: #2196F3;
}

.password-generator label {
  font-weight: bold;
}

.password-generator input {
  width: 40px;
  padding: 5px;
}

.password-generator button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s; /* Add transition properties for smooth effect */
}

.password-generator button:hover {
  background-color: #0076d5; /* Change color on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}

.password-generator .generated-password {
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-generator .generated-password button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s; /* Add transition properties for smooth effect */
}

.password-generator .generated-password button:hover {
  background-color: #0076d5; /* Change color on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}
